 <form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.team_leader.label }}
    {{ form.team_leader(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.job.label }}
    {{ form.job(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.work_size.label }}
    {{ form.work_size(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.collaborators.label }}
    {{ form.collaborators(class="form-control") }}
  </div>
  <div class="mb-3">
      {{ form.submit(type="submit", class="btn btn-primary") }}
  </div>
</form>